<ion-header>
  <ion-toolbar color="tertiary">
   <h2 class="font" text-center> My Return</h2>
   <ion-buttons slot="start">
    <ion-back-button defaultHref="/contests"></ion-back-button>
  </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height: 160px;width:390px"  *ngIf="cartService.pay === 1" color="dark">
    
    <ion-button style="height: 190px;width:400px" color="light"  (click)="analysis()">
      <!-- <ion-item>
        no upcoming contests 
        </ion-item> -->
        <ion-item class="downi">
            
              

          <div>
                      <ion-avatar slot="start"><img src="../../assets/icon/memoji6.jpg"
                          style="width:50px; height:90px;"></ion-avatar>
                          <!-- <ion-label position="stacked"><h1>Rakesh</h1></ion-label> -->
                          <h3>RAKESH</h3>
          
          </div>
                    
          
                        
          <ul></ul><div>
                      <h3 class="prize">trade pool</h3>
                      <h1 text-center>₹30000</h1>
          
                      </div>
          <!-- <ion-label slot="end" position="fixed">1Lot Entry</ion-label> -->
                      <!-- <ion-label position="center">ABC</ion-label> -->
                      <div>
                        <ion-badge>lots taken=<ion-badge color="dark">4</ion-badge></ion-badge>
                      <!-- <ion-button slot="end" size="medium" color="primary" (click)="presentPopover($event)">₹100</ion-button> -->
                      <div><ion-avatar slot="end"><img src="../../assets/icon/Broker.png"
                        style="width:30px; height:30px;"></ion-avatar></div>
                        </div>
                    </ion-item>
                    
    </ion-button>
    </ion-card>
    <ion-card style="height: 160px;width:390px"  *ngIf="cartService.pay === 2" color="dark">
    
      <ion-button style="height: 190px;width:400px" color="light"  (click)="analysis()">
        <!-- <ion-item>
          no upcoming contests 
          </ion-item> -->
          <ion-item class="downi">
              
                
  
            <div>
                        <ion-avatar slot="start"><img src="../../assets/icon/memoji5.jpg"
                            style="width:50px; height:90px;"></ion-avatar>
                            <!-- <ion-label position="stacked"><h1>Rakesh</h1></ion-label> -->
                            <h3>JACOB</h3>
            
            </div>
                      
            
                          
            <ul></ul><div>
                        <h3 class="prize">trade pool</h3>
                        <h1 text-center>₹30000</h1>
            
                        </div>
            <!-- <ion-label slot="end" position="fixed">1Lot Entry</ion-label> -->
                        <!-- <ion-label position="center">ABC</ion-label> -->
                        <div>
                          <ion-badge>lots taken=<ion-badge color="dark">4</ion-badge></ion-badge>
                        <!-- <ion-button slot="end" size="medium" color="primary" (click)="presentPopover($event)">₹100</ion-button> -->
                        <div><ion-avatar slot="end"><img src="../../assets/icon/Broker.png"
                          style="width:30px; height:30px;"></ion-avatar></div>
                          </div>
                      </ion-item>
                      
      </ion-button>
      </ion-card>
      <ion-card style="height: 160px;width:390px"  *ngIf="cartService.pay === 3" color="dark">
    
        <ion-button style="height: 190px;width:400px" color="light"  (click)="analysis()">
          <!-- <ion-item>
            no upcoming contests 
            </ion-item> -->
            <ion-item class="downi">
                
                  
    
              <div>
                          <ion-avatar slot="start"><img src="../../assets/icon/memoji4.jpg"
                              style="width:50px; height:90px;"></ion-avatar>
                              <!-- <ion-label position="stacked"><h1>Rakesh</h1></ion-label> -->
                              <h3>ARJUN</h3>
              
              </div>
                        
              
                            
              <ul></ul><div>
                          <h3 class="prize">trade pool</h3>
                          <h1 text-center>₹30000</h1>
              
                          </div>
              <!-- <ion-label slot="end" position="fixed">1Lot Entry</ion-label> -->
                          <!-- <ion-label position="center">ABC</ion-label> -->
                          <div>
                            <ion-badge>lots taken=<ion-badge color="dark">4</ion-badge></ion-badge>
                          <!-- <ion-button slot="end" size="medium" color="primary" (click)="presentPopover($event)">₹100</ion-button> -->
                          <div><ion-avatar slot="end"><img src="../../assets/icon/Broker.png"
                            style="width:30px; height:30px;"></ion-avatar></div>
                            </div>
                        </ion-item>
                        
        </ion-button>
        </ion-card>
        <ion-card style="height: 160px;width:390px"  *ngIf="cartService.pay === 4" color="dark">
    
          <ion-button style="height: 190px;width:400px" color="light"  (click)="analysis()">
            <!-- <ion-item>
              no upcoming contests 
              </ion-item> -->
              <ion-item class="downi">
                  
                    
      
                <div>
                            <ion-avatar slot="start"><img src="../../assets/icon/memoji1.png"
                                style="width:50px; height:90px;"></ion-avatar>
                                <!-- <ion-label position="stacked"><h1>Rakesh</h1></ion-label> -->
                                <h3>HARRY</h3>
                
                </div>
                          
                
                              
                <ul></ul><div>
                            <h3 class="prize">trade pool</h3>
                            <h1 text-center>₹30000</h1>
                
                            </div>
                <!-- <ion-label slot="end" position="fixed">1Lot Entry</ion-label> -->
                            <!-- <ion-label position="center">ABC</ion-label> -->
                            <div>
                              <ion-badge>lots taken=<ion-badge color="dark">4</ion-badge></ion-badge>
                            <!-- <ion-button slot="end" size="medium" color="primary" (click)="presentPopover($event)">₹100</ion-button> -->
                            <div><ion-avatar slot="end"><img src="../../assets/icon/Broker.png"
                              style="width:30px; height:30px;"></ion-avatar></div>
                              </div>
                          </ion-item>
                          
          </ion-button>
          </ion-card>
          <ion-card style="height: 160px;width:390px"  *ngIf="cartService.pay === 5" color="dark">
    
            <ion-button style="height: 190px;width:400px" color="light"  (click)="analysis()">
              <!-- <ion-item>
                no upcoming contests 
                </ion-item> -->
                <ion-item class="downi">
                    
                      
        
                  <div>
                              <ion-avatar slot="start"><img src="../../assets/icon/memoji2.png"
                                  style="width:50px; height:90px;"></ion-avatar>
                                  <!-- <ion-label position="stacked"><h1>Rakesh</h1></ion-label> -->
                                  <h3>ROHIT</h3>
                  
                  </div>
                            
                  
                                
                  <ul></ul><div>
                              <h3 class="prize">trade pool</h3>
                              <h1 text-center>₹30000</h1>
                  
                              </div>
                  <!-- <ion-label slot="end" position="fixed">1Lot Entry</ion-label> -->
                              <!-- <ion-label position="center">ABC</ion-label> -->
                              <div>
                                <ion-badge>lots taken=<ion-badge color="dark">4</ion-badge></ion-badge>
                              <!-- <ion-button slot="end" size="medium" color="primary" (click)="presentPopover($event)">₹100</ion-button> -->
                              <div><ion-avatar slot="end"><img src="../../assets/icon/Broker.png"
                                style="width:30px; height:30px;"></ion-avatar></div>
                                </div>
                            </ion-item>
                            
            </ion-button>
            </ion-card>
            <ion-card style="height: 160px;width:390px"  *ngIf="cartService.pay === 6" color="dark">
    
              <ion-button style="height: 190px;width:400px" color="light"  (click)="analysis()">
                <!-- <ion-item>
                  no upcoming contests 
                  </ion-item> -->
                  <ion-item class="downi">
                      
                        
          
                    <div>
                                <ion-avatar slot="start"><img src="../../assets/icon/memoji3.png"
                                    style="width:50px; height:90px;"></ion-avatar>
                                    <!-- <ion-label position="stacked"><h1>Rakesh</h1></ion-label> -->
                                    <h3>SMARTY</h3>
                    
                    </div>
                              
                    
                                  
                    <ul></ul><div>
                                <h3 class="prize">trade pool</h3>
                                <h1 text-center>₹30000</h1>
                    
                                </div>
                    <!-- <ion-label slot="end" position="fixed">1Lot Entry</ion-label> -->
                                <!-- <ion-label position="center">ABC</ion-label> -->
                                <div>
                                  <ion-badge>lots taken=<ion-badge color="dark">4</ion-badge></ion-badge>
                                <!-- <ion-button slot="end" size="medium" color="primary" (click)="presentPopover($event)">₹100</ion-button> -->
                                <div><ion-avatar slot="end"><img src="../../assets/icon/Broker.png"
                                  style="width:30px; height:30px;"></ion-avatar></div>
                                  </div>
                              </ion-item>
                              
              </ion-button>
              </ion-card>
    
  



</ion-content>
