<ion-tabs >

  <ion-tab-bar slot="bottom" class="barcolor">
  <!----  <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>
  -->
    <ion-tab-button tab="tab2" class="barcolor">
      <!-- <ion-icon name="flash"></ion-icon>
      <ion-label>Teams</ion-label> -->
      <ion-avatar ><img src="../../assets/icon/Suitable-Candidate.png"
        style="width:60px; height:30px;"></ion-avatar>
      <ion-label class="vov" color="light" position="inline">Traders</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="tab3" class="barcolor">
      <!-- <ion-label position="inline">TopCharts</ion-label> -->

      <!-- <ion-icon name="send"></ion-icon> -->
      <ion-avatar ><img src="../../assets/icon/Winner.png"
        style="width:60px; height:30px;"></ion-avatar>
      <ion-label class="vov" color="light" position="inline">Ranking</ion-label>
        
    </ion-tab-button>

    <ion-tab-button tab="analysis" class="barcolor">
      <!-- <ion-icon name="home"></ion-icon>
      <ion-label>My teams</ion-label> -->
      <ion-avatar ><img src="../../assets/icon/Team.png"
        style="width:60px; height:30px;"></ion-avatar>
      <ion-label class="vov" color="light" position="inline">Live</ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
