

    .abc{
        
    margin-top:-17px;
    
}
.bona{
    margin-left: -150px;
    
}
ion-backdrop{
  opacity: 1;
  // scroll-behavior: true;
  
}
.pop{
    margin-top:-27px;
}
.jok{
    margin-bottom: -30px;
}
.bon{
    height:800px;
}
.font{
    font-style: bold;
    font-size: large;
    font-family: 'Times New Roman';
    color:rgb(255, 255, 255);
  }
  
ion-card { border-top: 3px solid rgb(2, 2, 2);
    border-bottom: 3px solid rgb(2,2,2);
    border-right: 3px solid rgb(2,2,2);
    border-left: 3px solid rgb(2,2,2);
    border-width: medium;
    border-top-width: thick;
    // display: flex;
    // flex-direction: column;
    // width: 100% !important;
    // margin: 0 !important;
    width: 400px;
  };