<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons >
    <ion-menu-button style="width:80px; height:50px;">
    <ion-avatar style="width:100%; height:100%;">
    <img src='../../assets/icon/Go-To-Success.png' style="width:100%; height:100%;">
    </ion-avatar>
    </ion-menu-button>
    </ion-buttons>
     <ion-title text-center> My Trader</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" >
    <ion-segment-button value="hundred"  >
        <ion-label><h2>completed</h2></ion-label>
    </ion-segment-button >
    <ion-segment-button value="fifty">
      <ion-label><h2>Live</h2></ion-label>
    </ion-segment-button>
    <ion-segment-button value="thirty">
        <ion-label><h2>Upcoming</h2></ion-label>
    </ion-segment-button>
  </ion-segment >
    

  <div [ngSwitch]="segment">
    <ion-label *ngSwitchCase="'hundred'">
      <ion-row style="height:150px"></ion-row>
      <ion-label lines="none"><h1 class="ion-text-center">You</h1><ul> </ul><h4 class="ion-text-center"> havent invested in any trader </h4></ion-label>
      
    




  <!-- <ion-select-option [value]="month.value" *ngFor="let month of months">{{ month.name }}</ion-select-option> -->
 
  </ion-label>
  <ion-label *ngSwitchCase="'fifty'">

    <ion-row style="height:150px"></ion-row>
    <ion-label lines="none"><h1 class="ion-text-center">Not</h1><ul> </ul><h4 class="ion-text-center">joined any investments so far </h4></ion-label>
 
  </ion-label>
  <ion-label *ngSwitchCase="'thirty'">

    <ion-row style="height:150px"></ion-row>
    <ion-label lines="none"><h1 class="ion-text-center">No</h1><ul> </ul><h4 class="ion-text-center"> upcoming activity to show </h4></ion-label>
 
  </ion-label>
  </div>
  



</ion-content>
